<div  class="ibox-content col-lg-3">
	<form action="/reward/edit?activity_id=<?php echo trim($_GET['activity_id']); if($_GET['id']) { echo '&id=' . $id;}  php?>" method="POST" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2">奖品名：</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" size="15" name="name"  value="<?php echo $name; php?>" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">奖品总数：</label>
		<div class="col-sm-10">
		<input onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="form-control" type="text" size="3" name="total"  value="<?php echo $total; php?>" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">类型：</label>
		<div class="col-sm-10">
			<select class="form-control border-radius" name="award_id" size="1">
				<?php  foreach ($award_list as $key => $award):?>

		    	<option value="<?php echo (int)$key;?>" <?php if(!empty($award_id) && $award_id == $key) { echo 'selected="selected"';}?> ><?php echo $award['name']; ?></option>

				<?php endforeach;?>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">状态：</label>
		<div class="col-sm-10">
			<input type="radio" name="status" value="1" <?php if ($status == 1) { echo 'checked';} php?>>启用
			<input type="radio" name="status" value="2" <?php if (!isset($status) || $status == 2) { echo 'checked';} php?>>禁用
		<div">
	</div>
	&nbsp;
	<div class="form-group ">
		<div class="col-sm-10 col-lg-offset-2">
			&nbsp;&nbsp;&nbsp;
			<input type="submit" class="btn btn-primary btn-sm" value="添加"/>
			<a href="javascript:history.go(0);" class="btn btn-sm btn-default">取消</a>
		</div>
	</div>
	</form>
</div>